{% extends "main.html" %}
{% block content %}
{% load static %}
		<!-- Page Title Section -->
		<div class="page-title-section" style="background-image: url('{%static 'website/images/main-slider/1.jpg' %}')">
			<div class="auto-container">
				<h1 style="font-size:160px">Profile update</h1>
				<ul class="post-meta">
					<li><a href="">Home</a></li>
					<li>profile update</li>
				</ul>
			</div>
		</div>
		<!-- End Page Title Section -->

		{% load crispy_forms_tags %}
			<div class="container rounded bg-white mt-5 mb-5">
				<div class="row">
					<div class="col-md-3 border-right">
						<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{%static 'website/images/Momo.jpg' %}"><span class="font-weight-bold">{{user.first_name}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
					</div>
					<div class="col-md-6 border-right">
						<div class="p-3 py-5">
							<div class="d-flex justify-content-between align-items-center mb-3">
								<h4 class="text-right">Profile Settings</h4>
							</div>
						
							<div class="mt-5 text-center">
								<form method="POST">
									{% csrf_token %}
									<fieldset class="form-group">
										{{ user_form|crispy }}
										{{ client_form|crispy }}
									</fieldset>
									<div class="form-group">
									<button class="button-27" style="width:250px" role="button" type="submit">Save Profile</button>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>


			{% endblock content %}
			